<h1>To-do List</h1>
  <% @tasks.each do |task| %>
    <h2><%= link_to task.name, task_path(task.id) %></h2>
    <ul>
      <li>Description: <%= task.desc %></li>
      <%= link_to "remove task", task_path(task), method: :delete %>
    </ul>
  <% end %>
